*, *:before, *:after {
    box-sizing: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container {
  margin: 0 auto;
  width: 822px;

}

.header {
  padding-top: :
}

.header .header-title-container {
  padding-top: 50px;
  padding-bottom: 70px;
}

.header .header-title-container .header-title {
  font-style: normal;
  font-size: 57px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #523117;

}

nav ul {
    list-style-type: none;
    font-size: 0px;
}

nav ul li {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;

}

nav ul li a:hover {
  background-color: #b98c28;
  border-radius: 25px;
  box-shadow: -2px -2px 5px #7f5617;
}

nav ul li a {
    display: inline-block;
    padding: 9px 21px 6px;
    color: #523117;
    text-decoration: none;
}
.main {
  background-color: white;
}

.copy-right {
  margin: auto;
  text-align: right;
  color: #382f1c;

}
.footer {
  border-top: 2px solid #2c1303;
  width: 100%;
  padding-bottom: 73px;
  padding-top: 15px;

}
