*, *:before, *:after {
    box-sizing: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container {
  margin: 0 auto;
  width: 822px;

}

.header .header-title-container {
  padding-top: 50px;
  padding-bottom: 70px;
}

.header .header-title-container .header-title {
  font-style: normal;
  font-size: 57px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #523117;

}

nav ul {
    list-style-type: none;
    font-size: 0px;
}

nav ul li {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 27px;
}

nav ul li a:hover {
  background-color: #b98c28;
  border-radius: 25px;
  box-shadow: -2px -2px 5px #7f5617;
}

nav ul li a {
    display: inline-block;
    padding: 9px 21px 6px;
    color: #523117;
    text-decoration: none;
}

.slider {
  position: relative;
  padding: 22px 25px;
  background-color: rgb(50, 13, 3, 0.6);

}

.right-arrow, .left-arrow {
  position: absolute;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
}

.left-arrow {
  background-image: linear-gradient(90deg, rgba(43, 22, 3, 0.7) 50%,  rgba(255, 255, 255, 0) 50%);
  left: -46px;
}

.right-arrow {
  background-image: linear-gradient(270deg, rgba(43, 22, 3, 0.7) 50%, rgba(255, 255, 255, 0) 50%);
  right: -46px;
}

.left-arrow .fa {
  left: 13px;
}
.right-arrow .fa {
  right: 13px;
}
.fa {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  color: #b56d1b;
  font-size: 50px;
  font-weight: bold;
}

.img-main-first-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 770px;
  height: 254px;
}

.photo-articles {
  display: flex;
  flex-grow: 1;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.photo-articles .photo-article {
  margin-right: 16px;
}
.photo-articles .photo-article:nth-child(3n) {
  margin-right: 0px;
}

.photo-articles .photo-article .photo-article__photo-container {
  position: relative;
}

.photo-article__photo {
  padding: 16px 17px;
  background-color: rgb(50, 13, 3, 0.6);
}

.photo-article__photo-caption {
  position: absolute;
  bottom: 16px;
  right: 17px;
  left: 17px;
  padding-right: 8px;
  color: #ffa900;
  font-size: 30px;
  text-align: right;
  background-color: rgb(50, 13, 3, 0.3);
}

.ipsum-text {
  padding-top: 17px;
  padding-bottom: 33px;
  color: #ffa900;
}
.copy-right {
  margin: auto;
  text-align: right;
  color: #ffa900;

}
.footer {
  border-top: 2px solid #2c1303;
  width: 100%;
  padding-bottom: 73px;
  padding-top: 15px;

}



/*--------------------------Media!!!!------------------*/

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    padding: 22px;
    margin: 0;

  }
}
